body {font-weight: bold;}    
main {transition-duration: .7s;}

   /*====Barra de Navegacao====*/
nav {
    background-color: var(--cor-13);
    font-weight: bold;
}

.navbar-toggler {background-color: var(--cor-04);}

.backup {
    border: 1.5px solid var(--cor-13);
    border-radius: var(--radius);
    background-color: var(--cor-02) !important;
    transition-duration: .3s;
}

.dropdown {border-right: 2px solid var(--cor-04);}

.dropdown-item:hover{
    background-color: var(--cor-04);
    transition-duration: .3s;
}

.btn-fechar-sistema {
    display: flex;
    align-items: center; /*ajuste do icone na responsividade da tela*/

    border: 1.5px solid var(--cor-13);
    border-radius: var(--radius);
    padding: 0 0.7rem;
    background-color: var(--cor-02) !important;
    transition-duration: .3s;
}

    
    /*====Valor de Vendas====*/
#sec-valor-venda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 80%;
    height: 8rem;
    margin-top: 5rem;
    padding: 0 2rem;
    border-radius: var(--radius);
    font-size: larger;
    transition-duration: .7s;

    &:hover {
        box-shadow: 3px 3px 3px var(--cor-shadow-hover);
        transition-duration: .7s;
    }
}

.btn-group {
    width: 5rem;
    margin-top: 1rem;
}

#vendas {
    display: flex;
    justify-content: space-between;
}

#vl-vendas {color: var(--cor-05);}


    /*====Modulos====*/
.sec-cards {
    font-size: x-large;
    margin-bottom: 3rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.cards > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 18rem;
    height: 12rem;
    border-radius: var(--radius);
    transition-duration: .5s;

    &:hover {
        box-shadow: 3px 3px 3px var(--cor-shadow-hover);
        transition-duration: .5s;
    }
    
    &:hover > .card-icon {
        background-color: var(--cor-09);
        transition-duration: .5s;
    }
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;
    border-radius: var(--radius);
    background-color: var(--cor-04);
    transition-duration: .5s;
}

.card-text {
    align-self: flex-end;
    margin-right: 1rem;
}

#pdv {color: var(--cor-05);}


@media (max-width: 990px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-duration: .7s;
    }

    #sec-valor-venda {width: 100%;}

    .sec-cards {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cards {justify-content: center;}


    @media (max-width: 0px) {

    }
}