* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-weight: bold;

        background: linear-gradient(
        120deg,
        var(--cor-12) 0%,
        var(--cor-13) 40%,
        var(--cor-01) 72%,
        var(--cor-04) 92%,
        var(--cor-00) 100%
    );
}

.style-padrao-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    width: 23rem;
    height: 20rem;
    border-radius: 10px;
    border: 1px solid var(--cor-03);
    background-color: var(--cor-04);
    box-shadow: 3px 3px 3px var(--cor-shadow);
    transition-duration: .5s;

    &:hover {
        box-shadow: 3px 3px 3px var(--cor-shadow-hover);
        transition-duration: .5s;
    }
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    outline: none;
    width: 10rem;
}

button {
    width: 8rem;
    color: inherit;
}