<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Página Inicial</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/configGerais.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

    <nav class="navbar navbar-expand-sm px-5">

        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="../img/logo.svg" alt="" class="icon-l"> 
                <span class="fs-4 text-logo">Say-System</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse">

                <ul class="navbar-nav ms-auto">
                    
                    <li class="nav-item">
                        <button class="nav-link me-5 btn backup">
                            <img src="../img/salvar.svg" alt="" class="icon-s">
                            Backup
                        </button>
                    </li>

                    <li class="nav-item dropdown px-3">
                        <button class="nav-link dropdown-toggle text-logo" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            /*usuário*/
                        </button>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer">
                                    Whatsapp Web
                                    <img src="../img/whatsapp.svg" alt="" class="icon-ms">
                                </a>
                            </li>

                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Usuários
                                    <img src="../img/usuario.svg" alt="" class="icon-ms">
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Config. Gerais
                                    <img src="../img/configuracoes.svg" alt="" class="icon-ms">
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Parâmetros
                                    <img src="../img/parametros.svg" alt="" class="icon-ms">
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="../views/login.html">
                                    Sair
                                    <img src="../img/sair.svg" alt="" class="icon-ms">
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item ms-5">
                        <span class="nav-link text-logo">
                            /*hora atual*/
                        </span>
                    </li>

                    <li class="nav-item ms-4 btn btn-fechar-sistema">
                        <span class="nav-link">
                            <img src="../img/fechar-sistema.svg" alt="" class="icon-s">
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        
        <section class="style-padrao borda" id="sec-valor-venda">

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="periodo" value="Dia" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Dia</label>

                <input type="radio" class="btn-check" name="periodo" value="Semana" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Semana</label>

                <input type="radio" class="btn-check" name="periodo" value="Mês" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Mês</label>

            </div>

            <div id="vendas">
                <p id="periodo-vendas">Vendas de Hoje</p>
                <p id="vl-vendas">R$ /*valor*/</p>
            </div>
        </section>

        <hr class="my-5">

        <section class="sec-cards">
            <div>Módulos de Venda</div>

                <!--CARDS-->
            <div class="mt-2 cards">

                <!--Caixa-->
                <a href="#" class="style-padrao borda">
                    
                    <div class="card-icon">                   
                        <img src="../img/caixa.svg" alt="" class="icon-m">
                    </div>

                    <div class="card-text">
                        Caixa    
                    </div>
                </a>

                <!--Caixa de Pedidos-->
                <a href="#" class="style-padrao borda">
                    
                    <div class="card-icon">                   
                        <img src="../img/caixa-pedidos.svg" alt="" class="icon-m">
                    </div>

                    <div class="card-text">
                        Caixa de Pedidos    
                    </div>
                </a>

                <!--PDV-->
                <a href="#" class="style-padrao borda">
                    
                    <div class="card-icon">                   
                        <img src="../img/pdv.svg" alt="" class="icon-m">
                    </div>

                    <div class="card-text" id="pdv">
                        PDV    
                    </div>
                </a>
            </div>
        </section>

        <br>

        <section class="sec-cards">
            <div>Módulos de Cadastro</div>
                
                <!--CARDS-->
            <div class="mt-2 cards">

                <!--Produtos-->
                <a href="./produtos.html" class="style-padrao borda">
                    
                    <div class="card-icon">                   
                        <img src="../img/modulo-produto.svg" alt="" class="icon-m">
                    </div>

                    <div class="card-text">
                        Produtos    
                    </div>
                </a>

                <!--Clientes-->
                <a href="clientes.html" class="style-padrao borda">
                    
                    <div class="card-icon">                   
                        <img src="../img/modulo-cliente.svg" alt="" class="icon-m">
                    </div>

                    <div class="card-text">
                        Clientes    
                    </div>
                </a>

                <!--Fornecedores-->
                <a href="fornecedores.html" class="style-padrao borda">
                    
                    <div class="card-icon">                   
                        <img src="../img/modulo-fornecedor.svg" alt="" class="icon-m">
                    </div>

                    <div class="card-text">
                        Fornecedores    
                    </div>
                </a>

                <!--Entrada de produtos por xml-->
                <a href="#" class="style-padrao borda">
                    
                    <div class="card-icon">                   
                        <img src="../img/modulo-xml.svg" alt="" class="icon-l">
                    </div>

                    <div class="card-text">
                        Entrada por Nota    
                    </div>
                </a>
            </div>
        </section>
    </main>

    <footer>
        <img src="../img/logo.svg" alt="" class="icon-m me-2"> 
        <span class="fs-4 text-logo">Say-System</span>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <script src="../js/index.js"></script>
</body>
</html>