<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/configGerais.css">
    <link rel="stylesheet" href="../css/login.css">

</head>
<body>
    <section class="style-padrao-login">
        <h1>Say-System</h1>

        <form action="../views/index.html">
            <div>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" autofocus required>
            </div>

            <br>
            
            <button type="submit" id="btnEntrar">Entrar</button>
        </form>
    </section>

    <script>
        const inputSenhaLogin = document.querySelector('#senha')
        const btnEntrar = document.querySelector('#btnEntrar')

        document.addEventListener('keydown', ev => {
            if(ev.key === 'Enter') {
                btnEntrar.click()
            }
        })
    </script>
</body>
</html>